/* Add support for `seealso` Admonition */
.md-typeset .admonition.seealso, .md-typeset details.seealso {
    background-color: var(--md-accent-fg-color--transparent);
}

.md-typeset .seealso>.admonition-title:before, .md-typeset .seealso>summary:before {
    background-color: var(--md-accent-fg-color);
}

.md-typeset .seealso>.admonition-title:after, .md-typeset .seealso>summary:after {
    color: var(--md-accent-fg-color);
}

.md-typeset .seealso>.admonition-title:before, .md-typeset .seealso>summary:before {
    --md-admonition-icon--seealso: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-out-up-right-icon lucide-square-arrow-out-up-right"><path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/><path d="m21 3-9 9"/><path d="M15 3h6v6"/></svg>');
    -webkit-mask-image: var(--md-admonition-icon--seealso);
    mask-image: var(--md-admonition-icon--seealso);
}


/* Support headings in details blocks */
.md-typeset details>summary>:is(h1,h2,h3,h4,h5,h6) {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

/* Center Card */
.cards.center {
    text-align: center;
    text-wrap: balance;
}

.cards h2, .cards h3 {
    margin: 0 0 .4em;
}

.cards h2 a.headerlink, .cards h3 a.headerlink {
    display: none;
}

/* Darken Card Border */
.md-typeset .grid.cards.darken>ol>li, .md-typeset .grid.cards.darken>ul>li, .md-typeset .grid.darken>.card {
    border-color: var(--md-default-fg-color--lighter);
}

/* Block Cards */
.md-typeset .block {
    margin: 1em 0;
}

.md-typeset .block.cards h2, .md-typeset .block.cards h3 {
    text-wrap: pretty;
}

.md-typeset .block.cards>ol, .md-typeset .block.cards>ul {
    display: contents;
}

.md-typeset .block>*, .md-typeset .grid>.admonition, .md-typeset .block>.highlight>*,
.md-typeset .block>.highlighttable, .md-typeset .block>.md-typeset details, 
.md-typeset .block>details, .md-typeset .block>pre {
    margin-bottom: 0;
    margin-top: 0;
}

.md-typeset .block.cards>ol>li, .md-typeset .block.cards>ul>li, .md-typeset .block>.card {
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: .4rem;
    display: block;
    margin: .4rem 0;
    padding: .8rem;
    transition: background-color .25s,border .25s,box-shadow .25s;
}

.md-typeset .block.cards>ol>li:hover, .md-typeset .block.cards>ol>li:focus-within,
.md-typeset .block.cards>ul>li:hover, .md-typeset .block.cards>ul>li:focus-within,
.md-typeset .block>.card:focus-within, .md-typeset .block>.card:hover {
    border-color: #0000;
    box-shadow: var(--md-shadow-z2);
}

.md-typeset .block.cards.darken>ol>li, .md-typeset .block.cards.darken>ul>li, .md-typeset .block.darken>.card {
    border-color: var(--md-default-fg-color--lighter);
}

.md-typeset .block.cards>ol>li>:first-child, .md-typeset .block.cards>ul>li>:first-child, 
.md-typeset .block>.card>:first-child {
    margin-top: 0;
}

/* Button Styles */
.md-typeset .md-button.md-button--primary-light {
    background: var(--md-primary-fg-color--light);
    color: var(--md-primary-bg-color--light);
}

.md-typeset .md-button.md-button--primary-dark {
    background: var(--md-primary-fg-color--dark);
    color: var(--md-primary-bg-color);
}

.md-typeset .md-button.md-button--accent{
    background: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}

.md-typeset .md-button.md-button--transparent {
    background: var(--md-accent-fg-color--transparent);
}
